.App {
  text-align: center;
  font-family: Circular,Helvetica,Arial,sans-serif;
  background-color:#FFFFFF ; 
  font-size: 17px;
  color: #999;
  line-height: 1.5;
}

header {
  font-size: 75px;
  color: black;
  font-weight: bold;
  line-height: 80%;
  letter-spacing: -5px;
  margin-bottom: 30px;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1;
}

.frm-login {
  padding-top: 100px;
  height: 50px;
}

a.login {
  background-color: #1DB954;
  border-color: #1aa34a;
  text-decoration: none;
  color:#FFFFFF;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 18px 48px 16px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
}